body{
    background: #F2F2F2;
    margin: 0px;
}

hr {
    border: 2px solid #DDDDDD;
    width:97%
}
p{
    position: relative;;
    left: 10px;
}

footer{
    background-color:#666666;
    border-top: 5px solid #59A9A5;
}


.wrapper{
    width: 90%;
}






